<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <title>CharacterForge</title>
        <link rel="icon" href="/static/images/logo-image.png"
            type="image/x-icon">
        <link rel="stylesheet" href="static/style.css">
    </head>


    <body>
        <header>
            <nav>
                <div class="logo"><img src="/static/images//Logo.png"></div>
                <li><a
                        href="https://en.wikipedia.org/wiki/Character_class_(Dungeons_%26_Dragons)">Log Out</a></li>
                <li><a href="https://dndraces.com/">Profile</a></li>
                <li><a
                        href="/about.html">About</a></li>
                </div>
                <li><a href="/">Home</a></li>
            </nav>
        </header>

    {% block content %} {% endblock %}

    <footer>
        <div class="top-footer">
            <a href="">
                <img class="logo" src="/static/images/instagram.svg" alt="">
                <img>
            </a>
        </div>
        <div class="bottom-footer">
            <div class="credit">created by Anya Frylinck</div>
        </div>
    </footer>
</body>
</html>

<!-- 
<li><a
    href="https://en.wikipedia.org/wiki/Character_class_(Dungeons_%26_Dragons)">Class</a></li>
<li><a href="https://dndraces.com/">Race</a></li>
<li><a
    href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons">Info</a></li>
</div>
-->